header {
    background-color: gray;
    overflow: auto;
}
div#basicheader {
    margin: 0 auto;
    width: 900px;
}
div#headerText {
    width: 300px;
    text-align: center;
    float: left;
}
nav {
    width: 550px;
    float: right;
    background-color: black;
    color: white;
    margin: 20px;
}
ul {
    list-style-type: none;
}
li {
    display: inline;
    margin-right: 29px;
}
div#imgDiv {
    margin: 0 auto;
    width: 1000px;
}
#imgDiv img {
    width: 1000px;
    margin-top: 10px;
}
.container2 {
    width: 1000px;
    margin: 0 auto;
}
.quarterDiv {
    margin: 10px 16px 10px;
    float: left;
    width: 300px;
}
figure {
    border: 1px solid;
    width: 302px;
    margin-left: 0px;
}
figure img {
    width: 293px;
    padding: 5px;
}
p.more {
    float: right;
}
p.more a {
    color: red;
}