div#headsection {
    background-color: black;
    overflow: auto;
}
header {
    width: 1000px;
    margin: 0 auto;
    color: white;
}
div#basic88 {
    float: left;
    width: 250px;
    margin: 0px;
}
nav {
    width: 600px;
    float: right;
    background-color: grey;
    margin: 30px;
}
header nav ul li {
    display: inline;
    margin-right: 55px;
}
div#bigImage {
    width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
}
#bigImage img {
    width: 1000px;
    height: 400px;
}
div#sectionImage {
    width: 1000px;
    margin: 0 auto;
    overflow: auto;
}
.quarterDiv {
    width: 323px;
    float: left;
    margin-right: 10px;
}
figure {
    border: 1px solid;
    width: 310px;
    margin-left: 0px;
}
figure img {
    width: 300px;
    padding: 5px;
    margin-left: 0px;
}
figcaption a {
    float: right;
    color: red;
}
div#figDiv {
    width: 1000px;
    margin: 0 auto;
    overflow: auto;
    margin-top: 10px;
}
#figDiv figcaption {
    width: 450px;
    float: left;
}
#figDiv figure img {
    width: 450px;
    padding: 5px;
    margin-left: 0px;
}
#figDiv figure {
    border: 1px solid;
    width: 460px;
    float: right;
}
figure img {
    width: 300px;
    padding: 5px;
    margin-left: 0px;
}
.row3 {
    background-color: gray;
    overflow: auto;
}
.secheadRow3 {
    width: 1000px;
    margin: 0 auto;
}
section.quarterRow3 {
    width: 225px;
    float: left;
    margin-right: 25px;
}
.quarterRow3 h3 {
    margin-left: 13px;
    padding: 0;
    margin-bottom: 0;
}
.quarterRow3 nav {
    width: 225px;
}
.quarterRow3 nav ul {
    margin-top: 0px;
}
.quarterRow3 nav ul li {
    list-style-type: none;
    line-height: 2em;
    color: orange;
    border-bottom: 1px solid;
}
.quarterRow3 nav ul li a {
    text-decoration: none;
    color: orange;
} 
